<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <form novalidate role="form" name="saveForm" ng-submit="saveBloodGlucoseRate()">
        <input type="hidden" ng-model="blood_glucose.glucose" required>
        <div class="mb20 text-center">
          <img src="/assets/blood.png" alt="" />
        </div>
        <div class="row">
          <div class="col-xs-10">
            <p>To measure your Blood Glucose, simply you should check your Blood Glucose.</p>
            <p>Input Blood Glucose value in the picker to the right.</p>
            <p>Press " Save my Blood Glucose ", when you are done selecting.</p>
          </div>
          <div class="col-xs-2 text-center mt20 p0">
            <slick dots=false infinite=false speed=300 slides-to-show=3 touch-move=true draggable=true slides-to-scroll=1 vertical=true class="slider one-time">
              <div ng-repeat="n in [1, 250] | makeRange">
                <a href="javascript:void(0)" ng-click="setCounter(n)"><h3>{{n}}</h3></a>
              </div>
            </slick>
          </div>
          <div class="col-xs-12 text-center mb20">
            <input class="btn btn-danger" type="submit" ng-disabled="saveForm.$invalid" value="Save my Blood Glucose">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
